.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 100%;
    width: 100%;
}
.heading{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: aliceblue;
    text-shadow: 0 0 5px #00f5ff, 0 0 10px #ff4ecd;
}
.contacts {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.image {
    filter: drop-shadow(0 0 5px #00f5ff) drop-shadow(0 0 10px #ff4ecd);
    transition: filter 0.3s ease;
}