/* .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);
  color: #00f5ff;
  font-size: 20px;
  z-index: 999;
}

.loader::after {
  content: "";
  width: 40px;
  height: 40px;
  margin-left: 10px;

  border: 3px solid #00f5ff;
  border-top: 3px solid transparent;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
} */



/* ------------------------------------ */
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #FFFFFF33;
  color: white;
  font-family: 'Orbitron', sans-serif;
  height: 15rem;
  width: 12rem;
  margin: 5px;
  position: relative;
}
.card:hover {
  background-color: #FFFFFF55;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cardImage {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  border-radius: 8px;
}
.cardImage:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.cardTitle {
  position: absolute;
  top: 115px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  left: 10px;
  right: 10px;

}
.cardDescription {
  position: absolute;
  font-size: 0.7rem;
  margin-top: 5px;
  text-align: left;
  top: 140px;
  left: 10px;
  right: 10px;
}
.techStack {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #00f5ff;
  left: 10px;
  right: 10px;
}
.links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 5px;
}
.liveButton, .githubButton {
  position:absolute;
  padding: 5px 5px;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
  background-color: #0b0f1a;
  border: none;
  cursor: pointer;
  bottom: 10px;
}
.liveButton{
  left: 10px;
}
.githubButton{
  right: 10px;
}