.skills-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: #FFFFFF11;
    border-radius: 8px;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow:
  0 0 5px #00f5ff33,
  0 0 15px #00f5ff33,
  0 0 30px #ff4ecd33;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
}
.logo{
    align-self: center;
    width: 30%;
    height: 30%;
    object-fit: contain;
}
.category {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #00f5ff;
}